:root {
  --darkcolor: #14171a;
  --bluecolor: #1538d1;
  --lightcolor: #fff;
}

html {
  scroll-behavior: smooth;
}

.theme-data {
  --darkcolor: #fff;
  --lightcolor: #000;
}

#toggle {
	transition: linear 2s;
	font-size:20px;
}
body {
  padding: 0;
  color: white !important;
  background-color: var(--darkcolor);
  background-repeat: no-repeat;
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

strong {
  color: var(--lightcolor);
  font-weight: normal !important;
}

button {
  cursor: pointer;
  font-family: "Archivo", sans-serif !important;
  color: white !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
  color: var(--lightcolor);
  cursor: pointer;
	transition: 1s linear;
}
.menu {
  font-size: 25px;
  text-align: center;
  display: none;
  align-items: center;
  flex-direction: column;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  z-index: 999;
  top: 0;
  opacity: 1;
		transition: .5s linear;
  background-color: var(--bluecolor) !important;
}

.transparent {
  position: none !important;
  background-color: transparent !important;
}



.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
		transition: .5s linear;

  min-height: 70px;
  z-index: 999;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.navbar_logo {
  color: var(--lightcolor);
}

.navbar_links i {
  font-size: 20px;
  color: var(--lightcolor);
  cursor: pointer;
}
.navbar_row {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(1200px - 20px);
}

.navbar_links {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.navbar_links li {
  padding: 0 20px;
}

.navbar-show {
  display: flex !important;
}

.p {
  font-size: 15px;
}

.main {
  width: 100%;
  min-height: 650px;
  background-color: transparent;
  color: var(--lightcolor);
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  flex-direction: column;
}

.main_container {
  width: 100%;
  min-height: 500px;
  color: var(--lightcolor);
  display: flex;
  max-width: calc(1200px - 20px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.main_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100px;
  flex-direction: column;
  width: calc(600px - 20px);
}
.main_box_img {
  width: calc(600px - 20px);
  min-height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/images/js1.svg);
}

.cta {
  background-color: var(--bluecolor);
  color: var(--lightcolor);
  padding: 15px 20px;
  border: none;
  margin: 30px 0;
}

.main_box h3 {
  color: var(--lightcolor);
  font-weight: normal;
}

.main_box h1 {
  color: var(--lightcolor);
  font-weight: bold;
}

.main_box h2 {
  font-weight: normal;
}

.about {
  width: 100%;
  min-height: 700px;
  color: var(--lightcolor);
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  flex-direction: row;
}

.about_container {
  width: 100%;
  min-height: 600px;
  background-color: transparent;
  color: var(--lightcolor);
  display: flex;
  max-width: calc(1200px - 20px);
  text-align: center;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.about_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 500px;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: calc(590px - 20px);
}

.about_box .cta {
  background-color: var(--bluecolor);
  color: var(--lightcolor);
  padding: 15px 20px;
  border: none;
  margin: 30px 0;
}

.about_box p {
  text-align: left;
  line-height: 30px;
  padding: 20px 0;
}
.about_box_img {
  width: calc(590px - 20px);
  min-height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(assets/images/js6.svg);
}

.stats {
  width: 100%;
  background-color: var(--bluecolor);
  color: var(--lightcolor);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.stats_container {
  width: 100%;
  max-width: calc(1200px - 20px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.stats_number {
  width: 230px;
  margin: 20px;
  min-height: 100px;
  color: var(--lightcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats_number h1 {
  padding: 5px;
  margin: 5px;
}

.stats_number i {
  font-size: 40px;
  background-color: none !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.stats_number h2 {
  padding: 0;
  color: var(--lightcolor);
  font-weight: normal;
  font-size: 18px;
  margin: 5px;
}

.skills {
  width: 100%;
  background-color: transparent;
  color: var(--lightcolor);
  padding: 5px 0;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.skills h1 {
  padding: 30px 0;
}

.skills_container {
  width: 100%;
  max-width: calc(1200px - 20px);
  min-height: 300px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills_box {
  width: 180px;
  margin: 20px 9px;
  min-height: 150px;
  background-color: var(--bluecolor);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  padding: 5px 0;
  color: var(--lightcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
  flex-direction: column;
}

.skills_box i {
  font-size: 40px;
  color: var(--lightcolor);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 10px 0;
}

.skills_box h1 {
  font-size: 19px;
  padding: 8px;
  margin: 8px;
  font-weight: bold;
}

.abilities {
  background: var(--darkcolor);
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  padding: 30px 0;
  color: var(--lightcolor);
  flex-direction: row;
  justify-content: center;
}

.abilities_box {
  width: 350px;
  min-height: 200px;
  display: flex;
  align-items: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  justify-content: center;
  flex-direction: column;
}

.abilities_container {
  width: 100%;
  max-width: calc(1200px - 20px);
  min-height: 400px;
  padding: 20px 0;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  color: var(--lightcolor);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  padding: 50px 0;
}

.abilities_box h1 {
  padding: 10px 0;
  color: var(--lightcolor);
}
.abilities_box p {
  margin: 5px 0;
  font-size: 15px;
  padding: 20px 20px;
  line-height: 30px;
}

.projects {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--lightcolor);
}
.projects_title {
  padding: 30px 0;
}
.projects_container {
  width: 100%;
  max-width: calc(1200px - 20px);
  min-height: 400px;
  padding: 20px 0;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  color: var(--lightcolor);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.project_box {
  width: 580px;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.project_box h1 {
  font-size: 25px;
}

.project_box p {
  text-align: left;
  font-weight: light;
  color: var(--lightcolor);
  padding: 30px 0;
  line-height: 40px;
}

.project_img {
  width: 580px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: center !important;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: center !important;
}
.project_img img {
  width: calc(350px - 20px);
  height: 500px;
  object-fit: cover;
  object-position: top center;
  max-width: 100%;
}
#imgresize {
  width: calc(500px - 30px);
}

.buttons_row {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buttons_row .project_btn {
  background-color: var(--bluecolor);
  padding: 15px 20px;
  border-radius: 2px;
  border: none;
  color: var(--lightcolor);
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}
.out {
  background-color: var(--darkcolor) !important;
  padding: 17.5px 20px !important;
}
.out i {
  padding: 0 10px;
}

.contact {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-direction: row;
  padding: 50px 0;
  flex-wrap: wrap;
}

.contact_title {
  font-size: 22px;
  margin: 20px;
}

.contact_form {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;

  flex-direction: column;
}

input {
  width: calc(100% - 40px);
  min-height: 50px;
  margin: 30px 5px;
  flex-wrap: wrap;
  color: var(--lightcolor);
  border: none;
  border-bottom: 2px solid var(--lightcolor);
  background-color: var(--darkcolor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.forminput {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
}

.contact_button {
  padding: 15px 30px;
  margin: 30px 0;
  background-color: var(--bluecolor);
  color: var(--lightcolor);
  border: none;
}

.contact_container {
  width: 100%;
  max-width: calc(1200px - 20px);
  min-height: 400px;
  display: flex;
  flex-direction: row;
  color: var(--lightcolor);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.form_row {
  display: flex;
  max-width: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: center;
}

.form_row .formrowinput {
  width: 500px;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
}

.formrowinput input {
  width: calc(100% - 40px);
  min-height: 50px;
  margin: 30px 5px;
  flex-wrap: wrap;
  border: none;
  border-bottom: 2px solid var(--lightcolor);
  background-color: var(--darkcolor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.message {
  width: calc(100% - 40px);
  resize: none;
  min-height: 50px;
  color: var(--lightcolor);
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--darkcolor);
  border-bottom: 2px solid var(--lightcolor);
}

textarea::placeholder {
  color: var(--lightcolor);
  padding: 0 20px;
}
input::placeholder {
  color: var(--lightcolor);
  padding: 0 20px;
}

.footer {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--lightcolor);
  flex-wrap: wrap;
}

.footer_container {
  width: 100%;
  max-width: calc(1200px - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_left {
  width: calc(580px - 20px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  justify-content: flex-start;
}

.footer_right {
  width: calc(580px - 20px);
  width: calc(580px - 20px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer_right i {
  font-size: 20px;
  padding: 10px;
}

.footer_right a:nth-child(1) {
  color: #fff;
}
.footer_right a:nth-child(2) {
  color: #0072b1;
}
.footer_right a:nth-child(3) {
  color: #cd486b;
}
.footer_right a:nth-child(4) {
  color: #1da1f2;
}
newyear {
  padding: 0 5px;
}

.footer_left h4 {
  font-weight: normal;
  padding: 10px;
}

@media (max-width: 900px) {
  .container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: calc(100% - 30px);
  }
  .container_box {
    display: flex !important;
    padding: 0 15px;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .navbar_logo {
    padding: 30px 0;
    min-height: 40px;
    width: calc(100% - 30px);
    max-width: 400px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    cursor: pointer;
  }
  .navbar_row {
    display: flex !important;

    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
  .navbar_links {
    flex-direction: column !important;
    background-color: var(--bluecolor);
    padding: 20px 0;
    width: 100% !important;
    display: none;
  }

  .navbar_links li {
    padding: 30px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: calc(100% - 30px);
  }
  .container_box {
    display: flex !important;
    padding: 0 15px;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
}
